body
{
    margin : 0;
    padding : 0;
    background-image:url("refuge2.jpg");
    background-size:100%;
    background-repeat: no-repeat;
    color:white;
    text-align: center;
    

}

#bloc_body
{
    width:100%;

}