body
{
    background-image: url(wallpaper.jpg); /* definir le chemin de l'image de fond*/
    background-position: center; /* Centrer l'image (il y a une différence même si l'image est redimensionne */
    background-repeat: no-repeat; /* Ne pas repeter l'image dans le fond */
    background-size: cover; /* Redimensionne l'image pour que celle-ci entre entièrement dans le site */

}



#purple
{
    color : purple ;
    text-align: right ;
    font-family: Arial ;
    font-size: 20px ;
}

h1 + p{
    color : red;
    text-align: center;
    font-style: italic;
    
}

p a{
    color : black ;
    text-align: right ; /* Ne fonctionne pas car le lien est de type inline */
    font-size: 25px ;
}

.test{

    color : rgb(128, 0, 128) ;
    font-size: 20px ;

}

h1{
    text-align: center ;
    background-image: linear-gradient(to right, blue, red, black);
}
